.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  /* border: 1px solid #c19d68; */
  border: 1px solid #7d4d00;
}

.dot:focus {
  outline: none;
}

.dot.active {
  /* background: #c19d68; */
  background: #7d4d00;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
